<!DOCTYPE html>
<html>

    <head>

        <title>BudgetBite</title>

        <link rel="stylesheet" type="text/css" href="../static/style.css">

        <link rel="icon" type="image/x-icon" href="../static/budgetbite.png">

    </head>

    <body>

        <div class="bar">

            <p class="name">BudgetBite</p>

            <p class="slogan">Budget-friendly meals, one bite at a time!</p>

        </div>

        <div class="topnav">
            <a class="active left" href="/">Home</a>
            <a class="left"href="/recipes">Recipe Finder</a>
            <a class="left" href="/stores">Stores Nearby</a>
            <a class="right" href="/info">About Us</a>
            <a class="right"href="/contact">Contact US</a>
        </div>
        
            <h1>Welcome to BudgetBite!</h1>

            <hr/>

        <p>Are you college student that may have a budget or dietary restrictions?</p>

        <p>Does your college not have easily accessible food to fit your dietary restrictions?</p>

        <p>Here at BudgetBite, we find easy to fix meals that fit your needs whether it be</p>

        <p>a budget restriction or dietary restriction.</p>

        <p>We will generate recipes for you as well as pinpoint the nearest supermarkets,</p>

        <p>grocery stores, and food banks</p>


    </body>


</html>