<!DOCTYPE html>
<html>

    <head>

        <title>temporary text</title>

        <link rel="stylesheet" type="text/css" href="../static/style.css">

    </head>

    <body>

        <div class="bar">

            <p>Welcome to TEMPORARY NAME!</p>

        </div>

        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/recipes">Recipe Finder</a>
            <a href="/info">About Us</a>


        </div>

        <h1>Looking for Easy Recipes?</h1>

    </body>


</html>
