<!DOCTYPE html>
<html>

    <head>

        <title>temporary text</title>

        <link rel="stylesheet" type="text/css" href="../static/style.css">

    </head>

    <body>

        <div class="bar">

            <p>About Us</p>

        </div>

        <div class="topnav">
            <a href="/">Home</a>
            <a href="/recipes">Recipe Finder</a>
            <a class="active" href="/info">About Us</a>

        </div>

        <h1></h1>
        <script>document.write("<p>FUCK</p>")</script>
    </body>


</html>
