<!DOCTYPE html>
<html>

    <head>

        <title>temporary text</title>

        <link rel="stylesheet" type="text/css" href="../static/style.css">

    </head>

    <body>

        <div class="bar">

            <p>Recipe Finder</p>

        </div>

        <div class="topnav">
            <a href="/">Home</a>
            <a class="active" href="/recipes">Recipe Finder</a>
            <a href="/info">About Us</a>

        </div>

        <h1>Hey! You need a recipe or two?</h1>
        <h3>Let's see what we can do for you.</h3>
        <form>
            <p>What's your budget? (A whole number, please!)<input type="text" id="budget" name="Budget amount"></p>
            What ingredents do you currently have? (We assume you have salt, pepper, and water.)
            Do you have any food allergies or intolerences?
            What's your zip-code? (We do not retain this data!)<input type="text" id="zipcode" name="Zip Code">
        </form>
        <script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
        <button onclick="callJSONFiles()">callJSONFiles</button>
    </body>
</html>
