<!DOCTYPE html>
<html>

    <head>

        <title>BudgetBite</title>

        <link rel="stylesheet" type="text/css" href="../static/style.css">

    </head>

    <body>

        <div class="bar">

            <p class="name">BudgetBite</p>

            <p class="slogan">Budget-friendly meals, one bite at a time!</p>

        </div>

        <div class="topnav">
            <a class="left" href="/">Home</a>
            <a class="active left"href="/recipes">Recipe Finder</a>
            <a class="left" href="/stores">Stores Nearby</a>
            <a class="right" href="/info">About Us</a>
            <a class="right"href="/contact">Contact US</a>
        </div>

        <h1>Hey! You need a recipe or two?</h1>
        <h3>Let's see what we can do for you.</h3>
        <form>
            <p>What's your budget? (A whole number, please!)<input type="text" id="budget" name="Budget amount"></p>
            <p>What's your zip-code? (We do not retain this data!)<input type="text" id="zipcode" name="Zip Code"></p>
        </form>
        <script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
        <h2 class="dropdown-header" onclick="toggleDropdown('cuisine-container')">Which Cuisine Types are you in the mood for today?</h2>
        <div id="cuisine-container" class="dropdown-content"></div><br>
        <h2 class="dropdown-header" onclick="toggleDropdown('diets-container')">Which Diets do you follow?</h2>
        <div id="diets-container" class="dropdown-content"></div><br>
        <h2 class="dropdown-header" onclick="toggleDropdown('ingredients-container')">What Ingredients do you have?</h2>
        <div id="ingredients-container" class="dropdown-content"></div><br>
        <h2 class="dropdown-header" onclick="toggleDropdown('intolerances-container')">What Intolerances do you have?</h2>
        <div id="intolerances-container" class="dropdown-content"></div><br>
        <script type="text/javascript">window.onload = function() { callJSONFiles(); };</script>
        <button onclick="printSelected('cuisine-container')">Print Selected Cuisine</button>
        <button onclick="printSelected('diets-container')">Print Selected Diets</button>
        <button onclick="printSelected('ingredients-container')">Print Selected Ingredients</button>
        <button onclick="printSelected('intolerances-container')">Print Selected Intolerances</button>
    </body>
</html>
