<!DOCTYPE html>
<html>

    <head>

        <title>BudgetBite</title>

        <link rel="stylesheet" type="text/css" href="../static/style.css">

    </head>

    <body>

        <div class="bar">

            <p class="name">BudgetBite</p>

            <p class="slogan">Budget-friendly meals, one bite at a time!</p>

        </div>

        <div class="topnav">
            <a class="left" href="/">Home</a>
            <a class="left"href="/recipes">Recipe Finder</a>
            <a class="left" href="/stores">Stores Nearby</a>
            <a class="active right" href="/info">About Us</a>
            <a class="right"href="/contact">Contact US</a>
        </div>

        <h1></h1>
        <script>document.write("<p>FUCK</p>")</script>
    </body>


</html>
